<!DOCTYPE html>

<html> 

<head>
    <meta charset="UTF-8">
    <title>킥보드공유시스템 마이페이지 </title>
    <link href="/static/kick.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

</head>

<body onload="paypage()">
    <div id=kick>
        <div>

        </div>
    </div>


</body>
<script src="/static/host.js"></script>
<script src="/static/kickboard.js"></script>
</html>